{% extends "base_v1.html" %}

{% block content %}
    <div class="inner_page_agile">
    </div>

    <div class="register-form-main">
        <div class="container">
            <div class="title-div">
                <h3 class="tittle">
                    <span></span>发表
                    <span></span>文章
                </h3>
                <div class="tittle-style">
                </div>
            </div>

            <div class="">
                <div id="error_block" class="alert alert-warning alert-dismissible" role="alert" {% if not error %}hidden{% endif %}>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>错误!</strong>{{ error_message }}
                </div>
            </div>
             <div class="login-form" style="width: 80%;">
				<form action="{% url "write_article" %}" method="post">
                    {% csrf_token %}
                    <div>
                        <p>文章标题</p>
                        <input type="text" class="name" name="act_name" placeholder="请输入文章标题" />
                    </div>
                    <div class="">
                        <p>文章简略描述</p>
                        <textarea class="description_box" id="article-description" name="description" placeholder="请输入活动的大致内容..." required=""></textarea>
                    </div>

                    <div class="">
                        <p>活动类型</p>
                            <select class="category2" name="act_type" required="">
                                <option value="cghd">常规活动</option>
                                <option value="dxhd">大型活动</option>
                                <option value="sthd">素拓活动</option>
                            </select>
                    </div>
                    <div class="">
                        <p>活动描述</p>
						<textarea class="description_box" id="article-content" name="content" placeholder="请输入活动的大致内容..." required=""></textarea>
					</div>
                </form>
             </div>
        </div>
    </div>

<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('article-content');
</script>
{% endblock %}
