{% extends "base_v1.html" %}
{% load static %}

{% block title %}
    申请活动 | 学生社团
{% endblock %}

{% block nav %}
    <div class="header">
        <div class="content white">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <h1>
                                <span class="fa fa-leanpub" aria-hidden="true"></span>Student Club
                                <label>Youth & Learn</label>
                            </h1>
                        </a>
                    </div>
                    <!--/.navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="/manage/club" class="effect-3">社团管理</a>
                                </li>
                                <li>
                                    <a href="/manage/users" class="effect-3">会员管理</a>
                                </li>
                                <li class="nav_sel">
                                    <a href="/manage/manage_users/" class="effect-3">理事信息</a>
                                </li>
                                <li class="nav_sel">
                                    <a href="/manage/activity_apply" class="effect-3">活动申请</a>
                                </li>
                                <li class="nav_sel">
                                    <a href="/manage/activity" class="effect-3">活动管理</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="inner_page_agile">
    </div>
    <div class="register-form-main">
        <div class="container">
            <div class="title-div">
                <h3 class="tittle">
                    <span></span>活动
                    <span></span>{% if not apply %}审核{% else %}申请{% endif %}
                </h3>
                <div class="tittle-style">
                </div>
            </div>

            <div class="">
                <div id="error_block" class="alert alert-warning alert-dismissible" role="alert" {% if not error %}hidden{% endif %}>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>{{ message_type }}: </strong>{{ error_message }}
                </div>
            </div>

            <div class="login-form">
				<form action="{% if apply %}{% url "apply" %}{% else %}{% endif %}" method="post">
                    {% csrf_token %}
                {% if not apply %}
                    <div>
                        <p>社团名称</p>
                        <input type="text" class="name" name="act_name" placeholder="请输入活动名称" value="大学生计算机与电子爱好者协会" readonly/>
                    </div>
                    <div>
                        <p>申请时间</p>
                        <input type="text" class="name" name="act_name" placeholder="请输入活动名称" value="2020-9-1" readonly/>
                    </div>

                {% endif %}
                    <div class="">
                        <p>活动名称</p>
                        <input type="text" class="name" name="act_name" placeholder="请输入活动名称" value="{{ act_name }}" {% if not apply %}readonly{% endif %}/>
                    </div>
					<div class="">
                        <p>活动地点</p>
                        <input type="text" class="name" name="act_place" placeholder="请输入开展活动的地点" value="{{ act_place }}" {% if not apply %}readonly{% endif %}/>
                    </div>
                    <div class="">
                        <p>活动时间</p>
                        <input type="text" class="datepicker" name="act_date" placeholder="请选择日期" value="{{ act_date }}" {% if not apply %}readonly{% endif %}/>
					</div>
                    <div class="">
                        <p>活动类型</p>
                        {% if apply %}
                            <select class="category2" name="act_type" required="">
                                <option value="cghd">常规活动</option>
                                <option value="dxhd">大型活动</option>
                                <option value="sthd">素拓活动</option>
                            </select>
                        {% else %}
                            <select class="category2" name="act_type" disabled="disabled">
                                <option value="">{{ act_type }}</option>
                            </select>
                        {% endif %}
                    </div>
                    <div class="">
                        <p>合作社团</p>
                        {% if apply %}
                        <select class="category2" name="coo_club" required="">
                            <option value="cghd">无</option>
                            <option value="dxhd">大学生天也动漫社</option>
                            <option value="sthd">大学生无极街舞社</option>
                        </select>
                        {% else %}
                        <select class="category2" name="coo_club">
                            <option value="">{% if coo_club %}{{ coo_club }}{% else %}无{% endif %}</option>
                        </select>
                        {% endif %}
                    </div>
                    <div class="">
                        <p>活动描述</p>
						<textarea name="description" class="description_box" placeholder="请输入活动的大致内容..." required="" {% if not apply %} readonly{% endif %} value="">{{ description }}</textarea>
					</div>
                    {% if apply %}
                    <div class="">
                        <p>验证码</p>
                        <input type="ipt_code" class="name validation-input" id="with_code_input" name="validation_code"  placeholder=""/>
                        <button type="button" class="btn btn-default btn-lg" onclick="send_msg_without_phone();" id="send_msg">获取验证码</button>
                    </div>
                    {% endif %}

                    {% if not apply %}
                        <div class="">
                            <p>学社联审核意见</p>
                            <textarea name="review1" class="description_box" name="description" placeholder="由学社联管理人员填写..." required="" {% if request.profile.job == "会长" %}readonly{% endif %}>由学社联管理人员填写...</textarea>
                        </div>
                        <div {% if request.profile.job == "会长" %}hidden{% endif %}>
                            <div class="radio">
                                <label style="width: 250px">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"  checked>同意
                                 </label>
                            </div>
                            <div class="radio" >
                              <label style="width: 250px">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" >要求修改
                              </label>
                            </div>
                            <div class="radio ">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">不同意
                              </label>
                            </div>
                        </div>
                    {% endif %}

                    {% if not apply %}
                        <div class="">
                            <p>社团指导老师审核意见</p>
                            <textarea name="hdms" class="description_box" name="description" placeholder="由指导老师进行填写..." required="" {% if request.profile.job == "会长" %}readonly{% endif %}>由指导老师进行填写...</textarea>
                        </div>
                        <div {% if request.profile.job == "会长" %}hidden{% endif %}>
                            <div class="radio">
                                <label style="width: 250px">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"  checked>
                                    同意
                                  </label>
                            </div>
                            <div class="radio" >
                              <label style="width: 250px">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" >
                                要求修改
                              </label>
                            </div>
                            <div class="radio ">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                                不同意
                              </label>
                            </div>
                        </div>
                    {% endif %}
                    <hr>
					<input type="submit" value="{% if apply %}提交申请{% else %}提交审核{% endif %}" {% if not apply %} {% if request.profile.job == "会长" %}disabled{% endif %} {% endif %}>
                </form>
            </div>
        </div>
    </div>
{#    <script>#}
{#        // Replace the <textarea id="editor1"> with a CKEditor#}
{#        // instance, using default configuration.#}
{#        CKEDITOR.replace('description');#}
{#    </script>#}

{% endblock %}

