{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <title>
        {% block title %}
            社团官网
        {% endblock %}
    </title>
    {% block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
    {% endblock %}
    {% block links %}
        <script src={% static "js/jquery-2.1.4.min.js" %}></script>
        <script src={% static "js/moment.min.js" %} ></script>
{#        <script src={% static "js/transition.js"%}></script>#}
{#        <script src={% static "js/collapse.js"%}></script>#}

        <!-- //meta-tags -->
{#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
        <link href={% static "css/bootstrap.css" %} rel="stylesheet" type="text/css" media="all" />
        <link href={% static "css/style.css" %} rel="stylesheet" type="text/css" media="all" />
        <!-- font-awesome -->
        <link href={% static "css/font-awesome.css" %} rel="stylesheet">
        <!-- fonts -->
        <link href={% static "css/bootstrap-datetimepicker.min.css" %} type="text/css" media="all"/>
        <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <script src={% static "js/ckeditor/ckeditor.js" %}></script>
        <script src={% static "js/bootstrap.js" %}></script>

        <script src={% static "js/bootstrap-datetimepicker.min.js" %}></script>
{#        <script src={% static "js/bootstrap-datepicker.zh-CN.min.js" %}></script>#}
    {% endblock %}
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>
{% endblock %}
<body>
{% block header %}
    <div class="header-top">
		<div class="container" style="margin-right: 315px;margin-left: 240px;width: 1130px;">
			<div class="bottom_header_left">
				<p>
					<span class="fa fa-map-marker" aria-hidden="true"></span>湖 南 工 商 大 学
				</p>
			</div>
			<div class="bottom_header_right {% if not request.user.is_authenticated %}login{% endif %}" id="username_bar">
				<div class="header-top-right">
                {% if not request.user.is_authenticated %}
                    <a href="{% url "login" %}">
                    <span class="fa fa-sign-out" aria-hidden="true"></span>登陆
                    </a>
                {% else %}
                    <!-- Split button -->
                    <div class="btn-group">
                    {% if request.have_message %}
                        <span class="glyphicon glyphicon-bell notify-icon" style="top: 8px;color: #ffffff;"></span>
                    {% endif %}

                      <button type="button" class="btn profile-button">
                          {{ request.user.username }}
                      </button>
                      <button type="button" class="btn btn-danger dropdown-toggle" id="username" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;background-color: #36bf90;border-color: #36bf90;">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="{% url "messages" %}">消息</a></li>
                        {% if request.profile.is_manager %}
                        <li><a href="{% url "manage_club" %}">管理社团</a></li>
                        {% endif %}
                        <li><a href="{% url "profile" %}">个人资料</a></li>
                        <li><a href="{% url "write_article" %}">发表文章</a></li>
                        {% if request.user.is_superuser %}
                        <li><a href="/admin">后台管理</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url "logout" %}">退出登录</a></li>
                      </ul>
                    </div>
                {% endif %}
                </div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

    {% block nav%}
        <div class="header">
		<div class="content white">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">
							<h1>
								<span class="fa fa-leanpub" aria-hidden="true"></span>Student Club
								<label>Youth & Learn</label>
							</h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li >
									<a href="{% url 'main' %}" class="effect-3">主页</a>
								</li>
								<li>
									<a href="{% url "forum_index" %}" class="effect-3">论坛</a>
								</li>
								<li>
									<a href="{% url "all_activities" %}" class="effect-3">活动</a>
								</li>
								<li>
									<a href="{% url 'join_club' %}" class="effect-3">加入社团</a>
								</li>
								<li>
									<a href="/files" class="effect-3">社团一览</a>
                                </li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
    {% endblock %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <div class="mkl_footer">
		<div class="sub-footer">
			<div class="container">
				<div class="mkls_footer_grid">
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>地址:</h4>
						<p>湖南省长沙市岳麓区
							<br> 桐梓坡路第569号</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>联系我们:</h4>
						<p>
							<span>电话 : </span>001 234 5678</p>
						<p>
							<span>邮箱 : </span>
							<a href="mailto:club@stu.hutb.edu.com">club@stu.hutb.edu.com</a>
						</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>工作时间:</h4>
						<p>工作日 : 8am-10pm</p>
						<p style="padding-right: 8px;">
                            周末 :
							<span>(closed)</span>
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="botttom-nav-allah">
					<ul>
						<li>
							<a href="/">主页</a>
						</li>
						<li>
							<a href="#">论坛</a>
						</li>
						<li>
							<a href="#">活动</a>
						</li>
						<li>
							<a href="#">加入社团</a>
						</li>
						<li>
							<a href="#">规章制度</a>
						</li>
					</ul>
				</div>
				<!-- footer-button-info -->
				<div class="footer-middle-thanks">
					<h2>Welcome to the club</h2>
				</div>
				<!-- footer-button-info -->
			</div>
		</div>
		<div class="footer-copy-right">
			<div class="container">
{#				<div class="allah-copy">#}
{#					<p>Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>#}
{#				</div>#}
				<div class="footercopy-social">
					<ul>
						<li>
							<a href="#">
								<span class="fa fa-facebook"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-twitter"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-rss"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-vk"></span>
							</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock %}
</body>
{% block scripts %}
	<!-- bootstrap -->
	<!-- stats numscroller-js-file -->
	<script src={% static "js/numscroller-1.0.js" %}></script>
	<!-- //stats numscroller-js-file -->

    <!-- //send msg service -->
    <script src={% static "js/send_validation.js" %}></script>

	<!-- Flexslider-js for-testimonials -->
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 1,
				animationSpeed: 1000,
				autoPlay: false,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 1
					},
					tablet: {
						changePoint: 768,
						visibleItems: 1
					}
				}
			});

		});
	</script>
	<script src={% static "js/jquery.flexisel.js" %}></script>
	<!-- //Flexslider-js for-testimonials -->
	<!-- smooth scrolling -->
	<script src={% static "js/move-top.js" %}></script>
	<script src={% static "js/easing.js" %}></script>


	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->

{% endblock %}

</html>
