{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            社团官网
        {% endblock %}
    </title>
    {% block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
    {% endblock %}
    {% block links %}
        <!-- //meta-tags -->
        <link href={% static "css/bootstrap.css" %} rel="stylesheet" type="text/css" media="all" />
        <link href={% static "css/style.css" %} rel="stylesheet" type="text/css" media="all" />
        <!-- font-awesome -->
        <link href={% static "css/font-awesome.css" %} rel="stylesheet">
        <!-- fonts -->
        <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    {% endblock %}
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>
<body>
{% block header %}
    <div class="header-top">
		<div class="container">
			<div class="bottom_header_left">
				<p>
					<span class="fa fa-map-marker" aria-hidden="true"></span>湖 南 工 商 大 学
				</p>
			</div>
			<div class="bottom_header_right">
				<div class="header-top-right">
                {% if not request.user.is_authenticated %}
                    <a href={% if request.user.is_authenticated %}"/profile/"{% else %}"/login/"{% endif %}>
                    <span class="fa fa-sign-out" aria-hidden="true"></span>{% if request.user.is_authenticated %}{{ request.user.phone_number }}{% else %}登陆{% endif %}
                    </a>
                {% else %}
                    <!-- Split button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger" style="color: #ffffff;background-color: #36bf90;border-color: #36bf90;">
                          {{ request.user.phone_number }}
                      </button>
                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;background-color: #36bf90;border-color: #FFFFFF;">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="message">消息</a></li>
                        {% if request.profile.is_manager %}
                        <li><a href="/manage/">管理社团</a></li>
                        <li><a href="/apply_form/">申请表</a></li>
                        {% endif %}
                        <li><a href="#">个人资料</a></li>
                        {% if request.user.is_superuser %}
                        <li><a href="/admin/">后台管理</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">退出登录</a></li>
                      </ul>
                    </div>
                {% endif %}
                </div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

    {% block nav%}
        <div class="header">
		<div class="content white">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">
							<h1>
								<span class="fa fa-leanpub" aria-hidden="true"></span>Student Club
								<label>Youth & Learn</label>
							</h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="../static/index.html" class="effect-3">主页</a>
								</li>
								<li>
									<a href="../static/about.html" class="effect-3">论坛</a>
								</li>
								<li>
									<a href="../static/courses.html" class="effect-3">活动</a>
								</li>
								<li>
									<a href="../static/join.html" class="effect-3">加入社团</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">规章制度
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="../static/icons.html">Web Icons</a>
										</li>
										<li>
											<a href="../static/codes.html">Short Codes</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
    {% endblock %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <div class="mkl_footer">
		<div class="sub-footer">
			<div class="container">
				<div class="mkls_footer_grid">
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>地址:</h4>
						<p>湖南省长沙市岳麓区
							<br> 桐梓坡路第569号</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>联系我们:</h4>
						<p>
							<span>电话 : </span>001 234 5678</p>
						<p>
							<span>邮箱 : </span>
							<a href="mailto:club@stu.hutb.edu.com">club@stu.hutb.edu.com</a>
						</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>工作时间:</h4>
						<p>工作日 : 8am-10pm</p>
						<p style="padding-right: 8px;">
                            周末 :
							<span>(closed)</span>
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="botttom-nav-allah">
					<ul>
						<li>
							<a href="/">主页</a>
						</li>
						<li>
							<a href="#">论坛</a>
						</li>
						<li>
							<a href="#">活动</a>
						</li>
						<li>
							<a href="#">加入社团</a>
						</li>
						<li>
							<a href="#">规章制度</a>
						</li>
					</ul>
				</div>
				<!-- footer-button-info -->
				<div class="footer-middle-thanks">
					<h2>Welcome to the club</h2>
				</div>
				<!-- footer-button-info -->
			</div>
		</div>
		<div class="footer-copy-right">
			<div class="container">
{#				<div class="allah-copy">#}
{#					<p>Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>#}
{#				</div>#}
				<div class="footercopy-social">
					<ul>
						<li>
							<a href="#">
								<span class="fa fa-facebook"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-twitter"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-rss"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-vk"></span>
							</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock %}
</body>
{% block scripts %}
    <script src={% static "js/jquery-2.1.4.min.js" %}></script>
	<!-- bootstrap -->
	<script src={% static "js/bootstrap.js" %}></script>
	<!-- stats numscroller-js-file -->
	<script src={% static "js/numscroller-1.0.js" %}></script>
	<!-- //stats numscroller-js-file -->

	<!-- Flexslider-js for-testimonials -->
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 1,
				animationSpeed: 1000,
				autoPlay: false,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 1
					},
					tablet: {
						changePoint: 768,
						visibleItems: 1
					}
				}
			});

		});
	</script>
	<script src={% static "js/jquery.flexisel.js" %}></script>
	<!-- //Flexslider-js for-testimonials -->
	<!-- smooth scrolling -->
	<script src={% static "js/move-top.js" %}></script>
	<script src={% static "js/easing.js" %}></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->

    <script>
        var wait = 60;
        document.getElementById("send_msg").onclick = function() {
            var input = check_input();
            if (input) {
                $.post('/send_msg/', {"phone_number": input}, time(this));
            }

        };
        function check_input() {
            var phone_number = document.getElementById("phone_number").value;
            var error = document.getElementById("error_block");
            if (phone_number) {
                return phone_number
            } else {
                error.removeAttribute("hidden");
                error.innerHTML = "请先输入手机号码";
            }
        }

        function time(o) {
            if (wait == 1) {
                o.removeAttribute("disabled");
                o.innerHTML("重新获取验证码");
                wait = 60;
            } else {
                o.setAttribute("disabled", true);
                o.innerHTML = wait + "秒后重新发送";
                wait--;
                setTimeout(function () {
                    time(o)
                }, 1000)
                }
        }

    </script>
{% endblock %}

</html>
