{% extends "base_v1.html" %}

{% block title %}
    主页面
{% endblock %}

{% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
{#						<h6>Welcome To Student Club</h6>#}
{#						<h3>Leading#}
{#							<span>University</span>#}
{#						</h3>#}
{#						<p>Create an all-encompassing website for your school with ease.</p>#}
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption"></div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption"></div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption"></div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
	</div>
    <div class="banner-bottom-w3l" id="about">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>W</span>elcome
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="welcome-sub-wthree">
				<div class="col-md-6 banner_bottom_left">
					<h4>About
						<span>Study Club</span>
					</h4>
					<p>湖南工商大学学生社团是在校教育处领导下，学生基于个人兴趣爱好、为了实现会员共同意愿、自主申请、自发开展活动的群众性学生组织。由校级社团和院级社团共同构成。</p>
					<p>近年来，随着学校顶层设计的不断凸显“湖南工商大学”办学的优势，广大学生的视野不断拓宽，同学们对社团的热情日益高涨，各种社团如雨后春笋般出现，各项社团活动也稳步有序地开展。至今已经涵盖文学、艺术、科技、体育、语言、实践、服务、兴趣、热点等方面，有校级社团和院级社团52个。</p>
				</div>
				<!-- Stats-->
				<div class="col-md-6 stats-info-agile">
					<div class="col-xs-6 stats-grid stat-border">
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='62' data-delay='2.0' data-increment="1">62</div>
						<p>社团</p>
					</div>
					<div class="col-xs-6 stats-grid">
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='4' data-delay='3.0' data-increment="1">4</div>
						<p>社团类别</p>
					</div>
					<div class="clearfix"></div>
					<div class="child-stat">
						<div class="col-xs-6 stats-grid stat-border border-st2">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='2000' data-delay='.05' data-increment="1">2000</div>
							<p>社团人数</p>
						</div>
						<div class="col-xs-6 stats-grid">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='200' data-delay='1.5' data-increment="1">200</div>
							<p>活动</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Stats -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}
