{% extends "base_v1.html" %}

{% block content %}
    <div class="inner_page_agile">
	</div>
	<div class="register-form-main">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>加</span>入
					<span>社</span>团
				</h3>
				<div class="tittle-style">

				</div>
			</div>

            <div class="">
                <div id="error_block" class="alert alert-warning alert-dismissible" role="alert" {% if not error %}hidden{% endif %}>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>{{ error_type }}</strong>{{ error_message }}
                </div>
            </div>

			<div class="register-form">
				<form action="/join_club/" method="post">
                    {% csrf_token %}
					<div class="fields-grid">
						<div class="styled-input">
							<input type="text" placeholder="名字" name="username" required="" value="{{ name }}">
						</div>
                        <div class="">
                            <input type="text" name="student_number" placeholder="学号" required="" value="{{ student_number }}">
                        </div>
                        <div class="styled-input">
							<input type="text" class="phone_join" placeholder="手机" name="phone_number" id="with_code_input" style="display: inline-block; width: 86%;" required="" value="{{ phone_number }}">
                            <span class="input-group-btn verify_code" >
                                <button class="btn btn-default" type="button" id="send_msg" onclick="send_msg_with_phone();" style="font-size: 16px; border: 1px solid;">验证码</button>
                            </span>
						</div>
                        <div class="">
                            <input type="text" name="verification_code" placeholder="验证码" required="">
                        </div>
                        <div class="">
                            <input type="text" name="class_name" placeholder="班级" required="">
                        </div>
                        <div class="styled-input agile-styled-input-top">
							<select class="category2" name="unit" required="">
								<option value="">学院</option>
								<option value="kj">会计学院 </option>
								<option value="cj">财政与金融学院 </option>
								<option value="gs">工商管理学院 </option>
								<option value="jx">计算机与信息工程学院 </option>
                                <option value="lg">旅管学院 </option>
                                <option value="fg">法学与公共管理学院 </option>
                                <option value="sy">设计与艺术学院 </option>
							</select>
							<span></span>
						</div>
						<div class="styled-input agile-styled-input-top">
							<select class="category2" name="gender" required="">
								<option value="">性别</option>
								<option value="male">男</option>
								<option value="female">女</option>
							</select>
						</div>
                        {% if not club_name %}
						<div class="styled-input agile-styled-input-top">
							<select class="category2" name="type_of_club" id="type_of_club" onchange="change_club_list();"required="">
								<option value="null">选择社团类别</option>
								<option value="gysj">公益实践</option>
								<option value="xsll">学术理论</option>
								<option value="whzh">文化综合</option>
								<option value="wyty">文娱体育</option>
							</select>
							<span></span>
						</div>
						<div class="styled-input">
							<div class="agileits_w3layouts_grid">
								<select class="category2" name="club_name" id="club_name">
									<option value="">请先选择社团类别</option>
								</select>
							</div>
						</div>
                        {% else %}
                            <div class="styled-input agile-styled-input-top">
                                <select class="category2" name="type_of_club" id="type_of_club" onchange="change_club_list();"required="">
                                    <option value="gysj">{{ club_type }}</option>
                                </select>
                                <span></span>
                            </div>

                            <div class="styled-input">
                                <div class="agileits_w3layouts_grid">
                                    <select class="category2" name="club_name" id="club_name">
                                        <option value="{{ club_name }}">{{ club_name }}</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
						<div class="clearfix"> </div>
					</div>
					<input type="submit" value="提交">
				</form>
			</div>
		</div>
	</div>

    <script>
        function change_club_list() {
        var gysj = ["大学生摄影协会", "大学生计算机与电子爱好者协会"];
        var wyty = ["大学生排球协会", "大学生无极街舞社", "大学生北极星音乐社"];
        var whzh = ["大学生普贤国学文化社", "大学生书法协会"];
        var xsll = ["大学生财会协会", "大学生物流协会"];
        var selection_item = document.getElementById("type_of_club");
        var selected = selection_item.value;
        var club_selection = document.getElementById("club_name");

        if (selected === "null"){
            club_selection.options.length = 0;
            club_selection.options.add(new Option("请先选择社团类别"))
        }

        if (selected === "gysj") {
            club_selection.options.length = 0;
            for (let name in gysj) {
                club_selection.options.add(new Option(gysj[name], gysj[name]));
                }
            }

        if (selected === "wyty") {
            club_selection.options.length = 0;
            for (let name in wyty) {
                club_selection.options.add(new Option(wyty[name]));
                }
            }

        if (selected === "whzh") {
            club_selection.options.length = 0;
            for (let name in whzh) {
                club_selection.options.add(new Option(whzh[name]));
                }
            }

        if (selected === "xsll") {
            club_selection.options.length = 0;
            for (let name in xsll) {
                club_selection.options.add(new Option(xsll[name]));
                }
            }
        }
    </script>
{% endblock %}
