{% extends "base_v1.html" %}

{% block title %}
    登陆 | 学生社团
{% endblock %}

{% block content %}
    <div class="inner_page_agile">
	</div>
    <div class="register-form-main">
        <div class="container">
            <div class="title-div">
                <h3 class="tittle">
                    <span></span>登陆
                    <span></span>
                </h3>
                <div class="tittle-style">
                </div>
            </div>
            <div class="">
                <div id="error_block" class="alert alert-warning alert-dismissible" role="alert" {% if not error %}hidden{% endif %}>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>错误!</strong>{{ error_message }}
                </div>
            </div>
            <div class="login-form">
                <form action="{% url "login" %}" method="POST">
                    {% csrf_token %}
                    <div class="">
                        <p>手机 </p>
                        <input type="text" class="name" name="phone" required="" value="{{ phone_number }}" />
                        </div>
                    <div class="">
                        <p>密码</p>
                        <input type="password" class="password" name="Password" required="" />
                    </div>
                    <label class="login-agileits-bottom login-left">
                        <h6>
                            <a href="{% url "login_code" %}">使用验证码登录</a>
                        </h6>
                    </label>
                    <div class="login-agileits-bottom">
                        <h6>
                            <a href="/forget_password/">忘记密码?</a>
                        </h6>
                    </div>
                    <input type="submit" value="登陆">
                    <div class="register-forming">
                        <p>注册一个账号--
                            <a href="/register/">请点击</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}