{% extends "base_v1.html" %}
{% block title %}
    login
{% endblock %}

{% block content %}
    <div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="index.html">Home</a>
					<span>| |</span>
				</li>
				<li>Login</li>
			</ul>
		</div>
	</div>
    <div class="register-form-main">
        <div class="container">
            <div class="title-div">
                <h3 class="tittle">
                    <span>L</span>ogin
                    <span>F</span>orm
                </h3>
                <div class="tittle-style">

                </div>
            </div>
            <div class="login-form">
                <form action="/login/" method="POST">
                    <div class="">
                        <p>User Name </p>
                        <input type="text" class="name" name="username" required="" />
                    </div>
                    <div class="">
                        <p>Password</p>
                        <input type="password" class="password" name="Password" required="" />
                    </div>
                    <label class="anim">
                        <input type="checkbox" class="checkbox">
                        <span>记住我?</span>
                    </label>
                    <div class="login-agileits-bottom wthree">
                        <h6>
                            <a href="#">忘记密码?</a>
                        </h6>
                    </div>
                    <input type="submit" value="Login">
                    {% csrf_token %}
                    <div class="register-forming">
                        <p>To Register New Account --
                            <a href="register.html">Click Here</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}