{% extends "base_v1.html" %}
{% block title %}
    活动管理 | 学生社团
{% endblock %}

{% block nav %}
    <div class="header">
        <div class="content white">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <h1>
                                <span class="fa fa-leanpub" aria-hidden="true"></span>Student Club
                                <label>Youth & Learn</label>
                            </h1>
                        </a>
                    </div>
                    <!--/.navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav" style="width: 500px">
                                <li style="width: 90px">
                                    <a href="/manage/club" class="effect-3">社团管理</a>
                                </li>
                                <li style="width: 90px">
                                    <a href="/manage/users" class="effect-3">会员管理</a>
                                </li>
                                <li style="width: 90px">
                                    <a href="/manage/manage_users/" class="effect-3">理事信息</a>
                                </li>
                                <li style="width: 90px">
                                    <a href="/manage/activity_apply" class="effect-3">活动申请</a>
                                </li>
                                <li style="width: 90px">
                                    <a href="/manage/activity" class="effect-3">活动管理</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="inner_page_agile">

	</div>
        <div class="register-form-main">
    <div class="container">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <h3 style="padding-left: 5px;">活动</h3>
                <hr class="hr">

                <div class="notify-type">
                    <li role="presentation">
                      <a href="#">所有活动</a>
                      <span class="glyphicon glyphicon-th-large message-icon" style="color: #36bf9f;"></span>
                    </li>
                </div>

                <div class="notify-type">
                    <li role="presentation">
                        <a href="#">审核中</a>
                        <span class="glyphicon glyphicon-hourglass message-icon" style="color: #36bf9f;"></span>
                    </li>
                </div>

                <div class="notify-type">
                    <li role="presentation">
                        <a href="#">待举办</a>
                        <span class="glyphicon glyphicon-tasks message-icon" style="color: #36bf9f;"></span>
                    </li>
                </div>

                <div class="notify-type">
                    <li role="presentation">
                        <a href="#">已完成</a>
                        <span class="glyphicon glyphicon-check message-icon" style="color: #36bf9f;"></span>
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-md-7 col-md-offset-1">
            {% for activity in activities %}
                <div class="thumbnail message-box">
                    <div class="">
                      <div class="" style="float: right">
                          <span class="glyphicon glyphicon-ok" onclick="" style="color: #36bf9f; font-size: 20px;"> </span>
                      </div>
                      <div class="">
                        <h3 class="" style="padding-left: 1em; padding-top: 5px">{% if not activity.approved_association %}审核中{% else %}待举办{% endif %}</h3>
                            <hr style="margin: 10px">
                            <p style="padding-left: 1em;" class="">{% if not activity.approved_association %}您申请的活动 {{ activity.name }} 正在等待审核中，查看申请信息请点击下方查看详情按钮
                                {% else %}您申请的活动 {{ activity.name }} 已经通过审核，正等待您的社团举办该活动，查看活动信息请点击下方查看详情按钮{% endif %}
                            </p>
                            <p class="message-time">{{ activity.apply_time }}</p>
                            {% if not activity.approved_association %}
                                <a href="/manage/activity_check/{{ activity.pk }}" class="btn btn-primary">查看详情</a>
                            {% else %}
                                <a href="/manage/activity_info/1" class="btn btn-primary">查看详情</a>

                            {% endif %}
                      </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}