{% extends "base_v1.html" %}

{% block content %}
	<div class="inner_page_agile">

	</div>
    <div class="register-form-main">
    <div class="container">
        <div class="col-md-2">
            <table class="table">
              <caption></caption>
              <thead>
                <tr>
                  <th>消息类型</th>
                </tr>
              </thead>
              <tbody>
                    <tr>
                        <a href="index/"></a>
                      <td>活动</td>
                    </tr>
                <tr>
                  <td>论坛</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="col-md-7 col-md-offset-1">
            <div class="title-div">
				<h3 class="tittle">
					<span></span>您的消息
					<span></span>
				</h3>
				<div class="tittle-style">
                </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}
