{% extends "base_v1.html" %}

{% block content %}
    <div class="inner_page_agile" xmlns="http://www.w3.org/1999/html">

	</div>
    <div class="register-form-main">
    <div class="container">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <h3 style="padding-left: 5px;">消息类型</h3>
                <hr class="hr">

                <div class="notify-type">
                    <li role="presentation">
                      <a href="#">所有通知</a>
                      <span class="glyphicon glyphicon-bullhorn message-icon" style="color: #36bf9f;"></span>
                    </li>
                </div>

                <div class="notify-type">
                    <li role="presentation">
                        <a href="#">论坛通知</a>
                        <span class="glyphicon glyphicon-comment message-icon" style="color: #36bf9f;"></span>
                    </li>
                </div>

                <div class="notify-type">
                    <li role="presentation">
                        <a href="#">活动通知</a>
                        <span class="glyphicon glyphicon-tasks message-icon" style="color: #36bf9f;"></span>
                    </li>
                </div>

                <div class="notify-type">
                    <li role="presentation">
                        <a href="#">社联通知</a>
                        <span class="glyphicon glyphicon-tags message-icon" style="color: #36bf9f;"></span>
                    </li>
                </div>
            </ul>
        </div>

        <div class="col-md-7 col-md-offset-1">
            {% for message in messages %}
                <div class="thumbnail message-box">
                  <div class="">
                      {% if not message.is_read %}
                          <div class="" style="float: right">
                              <span class="glyphicon glyphicon-ok" name="{{ message.pk }}" onclick="send_read_msg();" style="color: #36bf9f; font-size: 20px;"> </span>
                          </div>
                      {% else %}
                          <div class="" style="float: right">
                              <span class="glyphicon glyphicon-remove" onclick="alert('check');" style="color: #36bf9f; font-size: 20px;"> </span>
                          </div>
                      {% endif %}
                    <h3 class="message-title" >{{ message.type }}</h3>
                        <hr class="hr">
                        <p style="padding-left: 1em;" class="">{{ message.content }}
                        </p>
                        <p class="message-time">{{ message.created_time }}</p>
                      <a href="{{ message.next_url }}" class="btn btn-primary">查看详情</a>
                  </div>
                </div>
            <hr>
            {% endfor %}
            <div class="col-md-6 col-md-offset-3">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="/messages/?page=1">1</a></li>
{#                    <li><a href="#">2</a></li>#}
{#                    <li><a href="#">3</a></li>#}
{#                    <li><a href="#">4</a></li>#}
{#                    <li><a href="#">5</a></li>#}
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>

        </div>

    </div>
</div>

<script>
    function send_read_msg() {
        var a = document.getElementsByClassName('glyphicon-ok')[0];
        var message_id = a.getAttribute("name");

    }


</script>

{% endblock %}
