{% extends "base_v1.html" %}

{% block content %}
    <div class="inner_page_agile">

	</div>
    <div class="register-form-main">
    <div class="row">
        <div class="container">
            <div class="login-form">
                <div class="">
                    <h3 class="profile_title">个 人 资 料</h3>
                    <hr>
                </div>
                <div class="icon-div">
                    <img class="user-icon" src="/static/images/qrcode/jsjydzahz.jpg">
                </div>




			</div>
        </div>
    </div>

{% endblock %}