{% extends "base_v1.html" %}

{% block content %}
    <div class="inner_page_agile">

	</div>
    <div class="register-form-main">
    <div class="row">
        <div class="container">
            <div class="login-form">
                <div class="">
                    <h3 class="profile_title">个 人 资 料</h3>
                    <hr>
                </div>
                <div class="icon-div">
                    <img class="user-icon" src="{{ user.get_avatar_url }}">
                </div>

                <div>
                    <p>用户名</p>
                    <input type="text" class="name" name="act_name" value="{{ user.username }}" readonly/>
                </div>
                <div>
                    <p>手机号</p>
                    <input type="text" class="name" name="act_name"  value="{{ user.phone_number }}" readonly/>
                </div>
                <div class="">
                    <p>社团</p>
                    <input type="text" class="name" name="act_name" placeholder="{{ profile.club }}" value="{{ act_name }}" {% if not apply %}readonly{% endif %}/>
                </div>
			</div>
        </div>
    </div>

{% endblock %}